@charset "UTF-8";

/* CSS Document */
.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}

.nav {
    height: 100px;
    grid-column-start: 1; 
    grid-column-end: 13;
    background-color: goldenrod;
}

.heroBanner {
    background: grey;
    grid-column-start: 1;
    grid-column-end: 13;
    height: 1000px;
}

.row {
    background-color: red;
    height: 1300px;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.leftCol2 {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 775px;
    padding-right: 30px;
    background-color: blue;
    height: 370px;
    flex-basis: 50%;


}

.rightCol2 {
    grid-column-start: 9;
    grid-column-end: 13; 
    width: 775px;
    background-color: purple;
    height: 370px;
    flex-basis: 50%;

}

.padding-right {
    padding-right: 30px;
}

.Col-1-4 {
    grid-column-start: 1; 
    grid-column-end: 5; 
    width: 25%;
    background-color: rgb(255, 0, 255);
    height: 370px;
    flex-basis: 25%;
}

.Col-2-4 {
    grid-column-start: 1;
    grid-column-end: 5; 
    width: 25%;
    background-color: greenyellow;
    height: 370px;
    flex-basis: 25%;
}

.Col-3-4 {
    grid-column-start: 1;
    grid-column-end: 5; 
    width: 25%;
    background-color: rgb(64, 107, 0);
    height: 370px;
    flex-basis: 25%;
}

.Col-4-4 {
    grid-column-start: 1;
    grid-column-end: 5; 
    width: 25%;
    background-color: rgb(0, 7, 107);
    height: 370px;
    flex-basis: 25%;
}



.box1 {
    grid-column-start: 1;
    background-color: rgb(56, 56, 56);
    grid-column-end: 3; 
    width: 300px;
    height: 100px;
    padding: 20px;
 }

 .purchase {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: green;
    height: 1300px;
 }

 .login {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(99, 0, 0);
    height: 760px;
 }

 .footer {
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(0, 0, 0);
    height: 760px;
 }